<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_onepage_controller_success_action">
        <observer name="magento_order_split_checkout_submit_all_after_split" instance="Magento\SplitOrder\Observer\ProcessOrder" />
    </event>
</config>
